<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>School</th>
      <th>Placed By</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.date %></td>
        <td><%= link_to order.school.name, school_path(order.school) %></td>
        <td><%= link_to order.user.name, order_path(order) %></td>
        <td> <%= link_to("Edit", edit_order_path(order), class: 'button tiny radius')%> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @orders, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<br />
