<% unless items.nil? || items.empty? %>
  <h5><%= item_type %></h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="300">Name</th>
        <th width="100">Price</th>
        <th width="100">Inventory</th>
        <th width="100">Buy</th>
      </tr>
    </thead>
    <tbody>
      <% items.each do |item| %>
        <tr>
          <td><%= link_to item.name, item_path(item) %></td>
          <td><%= number_to_currency item.current_price %></td>
          <td><%= item.inventory_level %></td>
          <td><%= link_to("Buy", add_to_cart_path(item_id: item.id), class: 'button radius tiny')%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate items, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next", renderer: FoundationPagination::Rails, param_name: item_type %>
<% end %>
