<div class="row">
  <div class="small-7 columns">
    <%= render :partial => "item_details" %>
  </div>
  <div class="small-5 columns">
    <% if logged_in? && (current_user.role?(:manager) || current_user.role?(:admin)) %>
      <%= render :partial => "price_history" unless @price_history.empty?%>
    <% end %>
    <%= render :partial => "similar_items" unless @similar_items.empty?%>
  </div>
</div>

<%= link_to "Create a new Purchase" , new_purchase_path, remote: true, class: "button radius", id:"new_purchase_link"  %>

<!-- Add buttons to list all, edit project or destroy object -->
<%= render partial: "partials/object_options", locals: {model_name: "item", object: @item}  %>
